body {
    margin-top: 1em;
    margin-left: 2em;
}

a {
    color: saddlebrown;
}

li {
    list-style: none;
    padding: 0;!important;
}

ul{
    padding: 0;!important;
}

/*ezt jol megnezem hogy mukodik-e */
div{
    margin-left: 0;

}
*/

.btn{
    margin-left: 50em;
}